.form_phonebook{ 
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: flex;
    flex-direction: column;

}

.formBtn{ 
    align-items: center;
    margin: 5px;
}

.label_name {
    margin: 5px;
    
}
.formBtn { 
    cursor: pointer;
}